body {
  background: orange;
}

.header_teacher_pic {position: absolute; margin-left: 50px;}
.header_logo {position: absolute; margin-left: 182px;}
.header_menu {margin-left: 500px;} 

.header_menu_top
.header_menu_bottom {} 

.article_background_container { background: white; margin:0 auto; width: 1250px;  border-radius: 10px; margin-top: 103px; }
.article_about_age_intro_text {text-align: center;}
.article_about_age_pic_for_preschooler {position: absolute; margin-left: 50px;}
.article_about_age_pic_for_schooler {position: absolute; margin-left: 450px;}
.article_about_age_pic_for_adults {position: relative; margin-left: 850px; }

.article_language_menu_french {text-align: center; }

h2 { position : absolute; color: white;
  top   : 120px;
  left    : 40px;
  width   : 100%; }
    
.article_report_block_free_lesson_form" {background: white; border-radius: 10px; }

.pic {border-radius: 50%;}

.article_report_block_free_lesson_form { background: green; width: 400px; border-radius: 10px;}


.article_exam_promo_block { margin-top: 100px; text-align: center;}
.article_exam_promo_block_cambridge_logo {width: 10%; height: 10%;}

.article_news_block_news2_pic {width: 5%; height: 5%;}
